:root{
  --firstFonts: 'Inter', sans-serif;
  --secondFonts: 'Montserrat Alternatesnter', sans-serif;
  --colorBg: rgba(10, 10, 13, 1);
  --colorBlack:rgba(22, 22, 25, 1);
  --colorWhite:rgba(255, 255, 255, 1);
  --colorWhiteOpacity:rgba(255, 255, 255, 0.45);
  --colorGreen:rgba(214, 255, 44, 1);
  --colorGray:rgba(34, 34, 39, 1);
  --colorGrayActive:rgba(68, 68, 68, 1);
  --transitionDuration:0.3s;
}