body{
  font-family: var(--firstFonts);
  font-weight: 500;
  background: var(--colorBg);
  color: var(--colorWhite);
  font-size: 17px;
  &.fixed{
    overflow: hidden;
  }
  @media(max-width:1000px){
    font-size: 14px;
  }
}
.wrapper{
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
  @media(max-width:1400px){
    padding: 0 15px;
  }
  @media(max-width:1000px){
    padding: 0 5px;
  }
}
.btn{
  padding: 0 30px;
  height: 60px;
  border-radius: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width:1400px){
    height: 50px;
    padding: 0 15px;
  }
}
.slider{
  &__arrows{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
  &__arrow{
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .icon{
      transition: all linear var(--transitionDuration);
    }
  }

}
.page__title{
  font-size: 62px;
  line-height: 65px;
  text-transform: uppercase;
  @media(max-width:1000px){
    font-size: 32px;
    line-height: 35px;
  }
}
.section-black{
  background: var(--colorBlack);
  border-radius: 40px;
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 1920px;
  @media(max-width:800px){
    width: calc(100% - 10px);
  }
}